{% extends 'base.html' %}

{% block title %}Write{% endblock title %}

{% block content %}
<div class='container-fluid createform'>
    <div class='d-flex align-items-center gap-3 mb-4'>
        <p class="title">리뷰 작성</p>
    </div>
    <div>
        <form action="{% url 'reviews:create' %}" method='POST' enctype='multipart/form-data'>
            {% csrf_token %}
            {{ form.as_p }}
            <div class="signup_btn">
              <input type="submit" class='btn btn-login' value='리뷰등록'>
              <button class="btn btn-login" onclick=back()>뒤로가기</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
