{% extends 'base.html' %}
{% load static %}

{% block title %}
Review
{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock style %}

{% block content %}
<div class='container-fluid'>
    <div class='d-flex align-items-center gap-3 mb-4'>
        <P class="review-list-title">Review List</P>
    </div>
</div>
<div class='container-fluid'>
    <div class='d-flex flex-wrap gap-4'>
        {% for review in reviews %}
        <a href="{% url 'reviews:detail' review.pk %}">
            <div class='card-form'>
                {% if review.img_file %}
                    <img src="{{ review.img_file.url }}" alt="img" class='img'>
                {% else %}
                    <img src="{% static 'image/none_img.png' %}" alt="img" class='img'>
                {% endif %}
                <div class="p-2">
                    <div class='d-flex justify-content-between'>
                        <span class="movie-title text-truncate">MOVIE | {{ review.movie }}</span>
                        <span class="time">
                            {% if review.created_string == False %}
                                {{ review.created_at|date:'m월 d일' }}
                            {% else %}
                                {{ review.created_string }}
                            {% endif %}
                        </span>
                    </div>
                    <div class='d-flex justify-content-between'>
                      <p class="review-title text-truncate">제목 : {{ review.title }}</p>
                      <p class="writer text-truncate"> {{ review.user }}</p>
                    </div>
                    <p class="comment-count">댓글 수 - {{ review.comment_set.all|length }}</p>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock content %}