@font-face {
    font-family: 'TAEBAEKmilkyway';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'TAEBAEKmilkyway';
}

.form-control {
    border: 1px solid #41407d;
}

.logo {
    height: 30px;
    width: 30px;
}

.navbar {
    background-color: #252451;
}

.navbar-brand {
    color: white;
}

.navbar-brand:hover {
    color: white;
}

.navbar-review {
    color: white;
}

.navbar-review:hover {
    color: rgba(176, 145, 251, 0.878);
}

.nav-btn {
    border-radius: 1rem;
    color: white;
    border: solid 2px white;
    padding: 0.5rem;
    background-color: none;
}

.nav-btn:hover {
    color: rgba(176, 145, 251, 0.878);
    border: solid 2px #252451;
}

.usertext {
    color: white; 
}

.usertext a:hover {
    color: rgba(176, 145, 251, 0.878);
}

.createform {
    width: 35%;
    min-width: 400px;
}

.signupform {
    width: 30%;
    min-width: 400px;
    margin: auto;
    margin-top: 20px;
}

.signup_btn {
    text-align: end;
}

.updateform {
    width: 30%;
    min-width: 400px;
    margin: auto;
    margin-top: 50px;
}

.btn-login {
    border: solid 1px #252451;
    color: #503396;
    font-weight: 600;
    font-size: 14px;
}

.btn-login:hover {
    background-color: #503396;
    color: white;
}

.profile-image {
    width: 200px;
    height: 200px;
    overflow: hidden;
    text-align: center;
    line-height: 200px;
}

.profile {
    width: 200px;
    height: 200px;
}

a {
    text-decoration: none;
}

section {
    margin-top: 1rem;
    padding-bottom: 100px;
}

footer {
    font-style: italic;
    bottom: 0;
    position: absolute;
    height: 90px;
    width: 100%;
    background-color: #7a56cb;
    padding: 8px;
}

footer a {
    text-decoration: none;
    color: white;
}

li {
    list-style-type: none;
}

body {
    position: relative;
    min-height: 100vh;
}

.rank {
    width: 80%;
    margin: auto;
}

.rank-title {
    color: white;
    font-size: 20px;
}

.title {
    font-weight: 900;
    font-size: 35px;
    margin-bottom: 0px;
    margin: auto;
}

.rank {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px rgb(214, 185, 255),
    0 0 82px rgb(214, 185, 255), 0 0 92px rgb(214, 185, 255), 0 0 102px rgb(214, 185, 255), 0 0 151px rgb(214, 185, 255);
}

.rankcard {
    width: 300px; 
    height: 480px; 
    text-align: center; 
    background-color: #252451; 
    border-radius: 10px;
    margin: 10px;
    box-shadow: 5px 5px 8px 3px #4e4d8ad0;
}
.rankcard:hover {
    width: 310px; 
    height: 490px;
    background-color: #32316e; 
    box-shadow: 5px 5px 10px 3px #6463a4d0;
}

.rankcard-img {
    width: 90%;
    height: 90%;
    border-radius: 10px;
    margin-top: 10px;
}